
/* Fuente normal */
@font-face {
    font-family: 'Inter';
    src: url('/fonts/Inter-VariableFont_opsz,wght.ttf') format('truetype-variations');
    font-weight: 100 900; /* Rango de peso */
    font-style: normal;
}

/* Fuente italic */
@font-face {
    font-family: 'Inter';
    src: url('/fonts/Inter-Italic-VariableFont_opsz,wght.ttf') format('truetype-variations');
    font-weight: 100 900;
    font-style: italic;
}


@supports (font-variation-settings: normal) {
  :root {
    font-family: InterVariable, sans-serif;
  }
}

a{
  text-decoration: none;
  color: white;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body{
  background: linear-gradient(135deg, #0f172a 0%, #581c87 50%, #0f172a 100%);
  scroll-behavior: smooth;
  overflow-x: hidden;
  line-height: 1.6;
  font-family: "inter" sans-serif;
  }

/* Ancho del scroll */
::-webkit-scrollbar {
  width: 8px;
}



/* Fondo de la barra (track) */
::-webkit-scrollbar-track {
  background: #1E293B;
}

/* Control deslizante (thumb) con gradiente vertical */
::-webkit-scrollbar-thumb {
  background: linear-gradient(to bottom, #9572fc, #ea51aa);
  border-radius: 8px;
}

::-webkit-scrollbar-thumb:hover{
  background: linear-gradient(to bottom, #7157be, #b83e85);
}


/* Desktop */
@media only screen and (min-width: 1024px) {
  header{
    position: fixed;
    top: 0;
    width: 100%;
    background-color: rgba(21, 23, 50, 0.9);

  backdrop-filter: blur(5px); /* Desenfoque del fondo detrás del header */
  -webkit-backdrop-filter: blur(3px); /* Soporte para Safari */
  z-index: 1000;
  }

  body{
    margin: 0;
    padding-top: 10dvh;
    max-width: 100vw;

  }
  
  nav {

    display: flex;
    height: 10dvh;
    align-items: center;
    justify-content: space-between;
    padding: 0 15dvw;
  }

  nav ul {
    display: flex;
    list-style: none;
  }

  nav li {
    margin: 0 15px;
  }

  nav a {
    color: white;
    text-decoration: none;
    font-weight: 200;
  }

  nav a:hover{
    color: hotpink;
    transition: 0.3s;
  }

  header h1 {
font-family: "inter", sans-serif;
  font-weight: bold;
  font-size: 4rem;
  background-image: linear-gradient(to right, indigo, hotpink);
  background-clip: text;
  color: transparent;
  font-size: 2vw;
  }

  .iam, .abtme{
    height: 100dvh;
    /* background-image: linear-gradient(to right, #261947, #441A6E); */

    }

    .iam, .iam>div{
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;

      gap: 5dvh;
    }

    .iam img{
      height: 10dvh;
    }

    .iam h1{
      font-size: 13dvh;
      color: white;
    }

    .iam span{
      background-image: linear-gradient(to right, #C382F7, #F373B8);
      background-clip: text;
      color: transparent;
    }

    .iam h2{
      width: 50dvw;
      text-align: center;
      color: white;
      font-weight: 300;
    }


    .btninicio > a:nth-child(1){
      background-image: linear-gradient(to right, #9432E8, #D8277B);
      border: transparent;
      padding: 1.5dvh 2dvw;
      border-radius: 5px;
      color: white;
      font-weight: 700;

    }

    .btninicio > a:nth-child(2){
      background-color: #020817;
      padding: 1.5dvh 2dvw;
      border-radius: 5px;
      color: #A855F7;
      border: solid 1px #A855F7;
      font-weight: 800;

    }


    .btninicio > a:nth-child(1):hover{
      background-image: linear-gradient(to right, #511b80, #741541);
    }

    .btninicio > a:nth-child(2):hover{
      background-color: #A855F7;
      color: white;
      transition: 0.3s;
      }


      .abtme{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
      padding-inline: 20dvh;

      }

      .abtme h2{
      background-image: linear-gradient(to right, #C382F7, #F373B8);
      background-clip: text;
      color: transparent;
      font-size: 2.5rem;
      position: relative;
      top: -10dvh;
      }


      .abtmedivs{
        display: flex;
        justify-content: space-between;
        flex-direction: row;
        align-items: center;
      }

      .abtmedivs div:nth-child(1){
        color: white;
        width: 50%;
      }

      .abtmedivs div:nth-child(1) p{
        font-weight: 200;
        padding-block: 2dvh;
        line-height: 4.5dvh;
        font-size: 1.1rem;
      }

      .abtmedivs div:nth-child(2) img{
        width: 50dvh;
        border-radius: 30px;
  box-shadow: 
    0 0 20px #9432E8,
    0 0 40px #D8277B,
    0 0 60px #b05076;
      }


.skills {
  background-color: #2c1a47;
  padding: 40px;
  text-align: center  ;
  color: white;
}

.skills h2 {
  margin-bottom: 30px;
  font-size: 2rem;
  color: #f07bcd;
}

.grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2dvw 5dvh;
}

.skill {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;

}

.skill span {
  font-weight: 500;
}

/* Barra */
.bar {
  position: relative;
  width: 80%;
  height: 1.5dvh;
  background: #333;
  border-radius: 10px;
  overflow: hidden;
}

/* Progreso */
.progress {
  height: 100%;
  background: linear-gradient(90deg, #f07bcd, #9b5cff);
  border-radius: 10px;
  display: flex;
  justify-content: flex-end;  /* mueve el porcentaje al final */
  align-items: center;
  padding-right: 8px;
  color: #fff;
  font-size: 0.8rem;
  font-weight: bold;
  animation: load 2s ease forwards;
}

/* Animación */
@keyframes load {
  from {
    width: 0;
  }
}


.study{
  height: 100dvh;
}

.proyectos{
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  height: 100dvh;
}
        
.proyectosgrid{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 3dvw;
  width: 100%;
  padding-inline: 8dvw;

}

.proyectosgrid>div{
  background-color: #2D2250;
  height: 65dvh;
  transition: 0.5s;
  overflow: hidden;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;


}

.proyectosgrid>div:hover{
  transform: scale(1.05);
  transition: 0.5s;
}

.proyectos>h2{
  background-image: linear-gradient(to right, #C382F7, #F373B8);
  background-clip: text;
  color: transparent;
  font-size: 2rem;
  margin-bottom: 10dvh;
}

.proyectosgrid>div>img{
  width: 100%;
}

.textproyectos{
  color: white;
  margin: 2dvh;

}

.textproyectos h2{
  margin-bottom: 2dvh;
}

.textproyectos p{
  font-size: 0.9rem;
  font-weight: 100;
}

.buttonsproyectos{
  margin-inline: 2dvh;
  height: 6dvh;
  display: flex;
  justify-content: space-between ;
  align-items: center;
  gap: 1dvw;
  margin-bottom: 5dvh;
  }

.buttonsproyectos a{
  width: 50%;
  height: 5dvh;
}

.buttonsproyectos a {
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.5s;

}

.buttonsproyectos a:nth-child(1){
  background-color: transparent;
  border: solid 1px #A855F7;

}

.buttonsproyectos a:nth-child(1):hover{
  background-color: #261d43;;
  border: solid 1px #A855F7;
  transition: 0.5s;
}

.buttonsproyectos a:nth-child(2){
  background: linear-gradient(135deg, #7c3aed, #db2777);
  transition: 0.5s;

  
}

.buttonsproyectos a:nth-child(2):hover{
  background: linear-gradient(135deg, #5713cc, #a41b58);
  transition: 0.5s;

  
}

.buttonsproyectos i{
  margin-right: 1dvw;
}

.work{
  height: 50dvh;
  background: #2c1a47;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 4dvh ;

}

.work h2{
  background-image: linear-gradient(to right, #C382F7, #F373B8);
  background-clip: text;
  color: transparent;
  font-size: 2.5rem;
}

.work>p{
  color: white;
  width: 45vw;
  text-align: center;
  font-size: 1.1rem;
  font-weight: 200;
}

.work>div{
  display: flex;
  align-items: center;
  justify-content: space-between;
 
  gap: 3dvh;

}

.work>div>a{
  width: 13dvw;
  height: 5dvh;
  border-radius: 7px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1dvh;
}

.work>div>a>p{
  font-size: 1.1rem;
}

.work i{
}

.work>div>a:nth-child(1){
  background: linear-gradient(135deg, #7c3aed, #db2777);
  transition: 0.5s;
}

.work>div>a:nth-child(1):hover{
  background: linear-gradient(135deg, #5713cc, #a41b58);

  transition: 0.5s;

}

.work a:nth-child(2), a:nth-child(3){
  background-color: transparent;
  border: solid 1px #A855F7;
  transition: 0.5s;
}

.work a:nth-child(2):hover, a:nth-child(3):hover{
  background-color: #1a1828;
  border: solid 1px #A855F7;
  transition: 0.5s;
}

footer{
  height: 12dvh;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-weight: 200;
}


}

/* Tablet */
@media screen and (min-width: 768px) and (max-width: 1023px) {
}

/**/
/**/
/**/
/**/
/**/
/**/
/**/
/**/
/**/
/**/
/**/
/**/
/**/
/**/
/**/
/**/
/**/
/**/
/**/
/**/
/* Movil */
@media screen and (max-width: 767px) {

    header{
    position: fixed;
    top: 0;
    height: 10px;
    width: 100%;
    background-color: rgb(21, 18, 46);

  }

  body{
    margin: 0;
    max-width: 100dvw;

  }
  
 nav {

    display: none;
    height: 10dvh;
    align-items: center;
    justify-content: space-between;
    padding: 0 10dvw;
  }
 /*
  nav ul {
    display: flex;
    list-style: none;
  }

  nav li {
    margin: 0 10px;
  }

  nav a {
    color: white;
    text-decoration: none;
    font-weight: 200;
  }

  nav a:hover{
    color: hotpink;
    transition: 0.3s;
  }

header h1 {
  font-family: "inter", sans-serif;
  font-weight: bold;
  background-image: linear-gradient(to right, indigo, hotpink);
  background-clip: text;
  color: transparent;
  font-size: 5vw;
  }*/

  .iam{
    height: 100dvh;

    /* background-image: linear-gradient(to right, #261947, #441A6E); */

    }

    .iam, .iam>div{
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;

      gap: 3dvh;
    }

    .iam>div{
      margin-top: 20dvh;
    }

    .iam img{
      position: absolute;
      top: 20dvh;
      height: 10dvh;
    }

    .iam h1{
      font-size: 5dvh;
      color: white;
    }

    .iam span{
      background-image: linear-gradient(to right, #C382F7, #F373B8);
      background-clip: text;
      color: transparent;
    }

    .iam h2{
      width: 80dvw;
      text-align: center;
      color: white;
      font-weight: 300;
    }


    .btninicio > a:nth-child(1){
      background-image: linear-gradient(to right, #9432E8, #D8277B);
      border: transparent;
      padding: 1.5dvh 2dvw;
      border-radius: 5px;
      color: white;
      font-weight: 700;

    }

    .btninicio > a:nth-child(2){
      background-color: #020817;
      padding: 1.5dvh 2dvw;
      border-radius: 5px;
      color: #A855F7;
      border: solid 1px #A855F7;
      font-weight: 800;

    }


    .btninicio > a:nth-child(1):hover{
      background-image: linear-gradient(to right, #511b80, #741541);
    }




      .abtme{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 100dvh;

      }

      .abtme h2{
      background-image: linear-gradient(to right, #C382F7, #F373B8);
      background-clip: text;
      color: transparent;
      font-size: 2.5rem;
      position: relative;
      }


      .abtmedivs{
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        align-items: center;
      }

      .abtmedivs div:nth-child(1){
        color: white;
        width: 80%;
      }

      .abtmedivs div:nth-child(1) p{
        font-weight: 200;
        padding-block: 2dvh;
        line-height: 4.5dvh;
        font-size: 1.1rem;
      }

      .abtmedivs div:nth-child(2) img{
        width: 30dvh;
        border-radius: 30px;
  box-shadow: 
    0 0 20px #9432E8,
    0 0 40px #D8277B,
    0 0 60px #b05076;
      }


.skills {
  background-color: #2c1a47;
  padding: 40px;
  text-align: center  ;
  color: white;
}

.skills h2 {
  margin-bottom: 30px;
  font-size: 2rem;
  color: #f07bcd;
}

.grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2dvw 5dvh;
}

.skill {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;

}

.skill span {
  font-weight: 500;
}

/* Barra */
.bar {
  position: relative;
  width: 80%;
  height: 1.5dvh;
  background: #333;
  border-radius: 10px;
  overflow: hidden;
}

/* Progreso */
.progress {
  height: 100%;
  background: linear-gradient(90deg, #f07bcd, #9b5cff);
  border-radius: 10px;
  display: flex;
  justify-content: flex-end;  /* mueve el porcentaje al final */
  align-items: center;
  padding-right: 8px;
  color: #fff;
  font-size: 0.8rem;
  font-weight: bold;
  animation: load 2s ease forwards;
}

/* Animación */
@keyframes load {
  from {
    width: 0;
  }
}


.study{
  height: 100dvh;
}

.proyectos{
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  height: 250dvh;
}
        
.proyectosgrid{
  display: grid;
  grid-template-columns: 1fr;
  gap: 15dvw;
  width: 100%;
  padding-inline: 8dvw;

}

.proyectosgrid>div{
  background-color: #2D2250;
  height: 65dvh;
  transition: 0.5s;
  overflow: hidden;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;


}



.proyectos>h2{
  background-image: linear-gradient(to right, #C382F7, #F373B8);
  background-clip: text;
  color: transparent;
  font-size: 3rem;
  margin-bottom: 6dvh;
}

.proyectosgrid>div>img{
  width: 100%;
}

.textproyectos{
  color: white;
  margin: 2dvh;

}

.textproyectos h2{
  margin-bottom: 2dvh;
}

.textproyectos p{
  font-size: 0.9rem;
  font-weight: 100;
}

.buttonsproyectos{
  margin-inline: 2dvh;
  height: 6dvh;
  display: flex;
  justify-content: space-between ;
  align-items: center;
  gap: 1dvw;
  margin-bottom: 5dvh;
  }

.buttonsproyectos a{
  width: 50%;
  height: 5dvh;
}

.buttonsproyectos a {
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.5s;

}

.buttonsproyectos a:nth-child(1){
  background-color: transparent;
  border: solid 1px #A855F7;

}

.buttonsproyectos a:nth-child(1):hover{
  background-color: #261d43;;
  border: solid 1px #A855F7;
  transition: 0.5s;
}

.buttonsproyectos a:nth-child(2){
  background: linear-gradient(135deg, #7c3aed, #db2777);
  transition: 0.5s;

  
}

.buttonsproyectos a:nth-child(2):hover{
  background: linear-gradient(135deg, #5713cc, #a41b58);
  transition: 0.5s;

  
}

.buttonsproyectos i{
  margin-right: 1dvw;
}

.work{
  height: 50dvh;
  background: #2c1a47;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 4dvh ;

}

.work h2{
  background-image: linear-gradient(to right, #C382F7, #F373B8);
  background-clip: text;
  color: transparent;
  font-size: 2.5rem;
}

.work>p{
  color: white;
  width: 70dvw;
  text-align: center;
  font-size: 1.1rem;
  font-weight: 200;
}

.work>div{
  display: flex;
  align-items: center;
  justify-content: space-between;
 
  gap: 3dvh;

}

.work>div>a{
  width: 25dvw;
  height: 5dvh;
  border-radius: 7px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1dvh;
}

.work>div>a>p{
  font-size: 1rem;
}

.work i{
}

.work>div>a:nth-child(1){
  width: 30dvw;
  background: linear-gradient(135deg, #7c3aed, #db2777);
  transition: 0.5s;
}

.work>div>a:nth-child(1):hover{
  background: linear-gradient(135deg, #5713cc, #a41b58);

  transition: 0.5s;

}

.work a:nth-child(2), a:nth-child(3){
  background-color: transparent;
  border: solid 1px #A855F7;
  transition: 0.5s;
}

.work a:nth-child(2):hover, a:nth-child(3):hover{
  background-color: #1a1828;
  border: solid 1px #A855F7;
  transition: 0.5s;
}

footer{
  height: 12dvh;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-weight: 200;
  background-color: rgb(21, 18, 46);
}

}


